body {
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to , #BC0C51, #4A097C, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #BC0C51, #4A097C, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    color: #FFFFFF;
}

/*Contact tags*/
button,
button:after {
    width: 100%;
    height: 64px;
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
    background: linear-gradient(45deg, transparent 5%, #BC0C51 5%);
    border: 0;
    color: #FFFFFF;
    letter-spacing: 3px;
    box-shadow: 6px 0px 0px #00FFFD;
    outline: transparent;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    line-height: 50px;
}

button[name]:after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    
    content: attr(name);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00FFFD 3%, #00FFFD 5%, #BC0C51 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00FFFD;
    clip-path: var(--slice-0);
}

button:hover:after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
}

@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }
    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }
    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }
    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }
    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }
    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }
    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }
    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }
    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }
    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }
    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}

@media only screen and (min-width: 768px) {
    button,
    button:after {
        width: 512px;
        height: 64px;
        line-height: 50px;
    }
}

.mytag {
    width: 100%;
}

/*Avatar*/
.circle {
    line-height: 0;		/* remove line-height */ 
	display: inline-block;	/* circle wraps image */
	margin: 5px;
    border: 4px solid rgba(200,200,200,0.4);
	border-radius: 50%;	/* relative value */
	/*box-shadow: 0px 0px 5px rgba(0,0,0,0.4);*/
    transition: linear 0.25s;
    height: 128px;
    width: 128px;
}
.circle img {
	border-radius: 50%;	/* relative value for
				   adjustable image size */
}
.circle:hover {
    transition: ease-out 0.2s;
    border: 4px solid rgba(0,0,0,0.2);
    -webkit-transition: ease-out 0.2s;
}
a.circle {
    color: transparent;
} /* IE fix: removes blue border */	